<div>
  <mat-toolbar>
    <div>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <a routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-menu-item>
          <mat-icon>people</mat-icon>
          <span>Users</span>
        </a>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </a>
        <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-menu-item>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </a>
        <a routerLink="/part1" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Part 1</span>
        </a>
      </mat-menu>

      <!-- <mat-menu #part1="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="vertebrates">Part 1</button>
        <button mat-menu-item>Invertebrates</button>
      </mat-menu>

      <mat-menu #vertebrates="matMenu">
        <button mat-menu-item>Fishes</button>
        <button mat-menu-item>Amphibians</button>
        <button mat-menu-item>Reptiles</button>
        <button mat-menu-item>Birds</button>
        <button mat-menu-item>Mammals</button>
      </mat-menu> -->

    </div>
    {{navHeading}}
  </mat-toolbar>
</div>
